Options +FollowSymLinks
RewriteEngine on 
<IfModule mod_rewrite.c>
RewriteRule ^d(.*).htm$ ticketdetay.php?id=$1 [L,NC]
RewriteRule ^haber-(.*).htm$ news_detail.php?ID=$1 [L,NC]
RewriteRule ^tag-(.*).php$ search.php?key=$1 [L,NC]

RewriteRule ^urundetay(.*)$  servicesdetail.php [L,NC]
RewriteRule ^products$ murunleri.php [L,NC]
RewriteRule ^supports$ ticketsme.php [L,NC]
RewriteRule ^newticket$ newstic.php [L,NC]
RewriteRule ^settings$ profilme.php [L,NC]
RewriteRule ^news$ news.php [L,NC]
RewriteRule ^webstore$ store.php [L,NC]
RewriteRule ^kredilerim$ credit.php [L,NC]
RewriteRule ^ClientArea$ index.php?mc=musteri [L,NC]
RewriteRule ^register$ kayitol.php [L,NC]
RewriteRule ^login$ login.php [L,NC]
RewriteRule ^rss.xml$ rss.php [L,NC]
RewriteRule ^logout$ cikis.php?KT_logout_now=1 [L,NC]
RewriteRule ^forgot$ forgot.php [L,NC]
RewriteRule ^sifremi-unuttum$ sifre.php [L,NC]
RewriteRule ^error$ 404.php [L,NC]
RewriteRule ^p(.*).htm$ pages.php?ID=$1 [L,NC]
</IfModule>


