.block.block-bordered>.block-footer {
    padding: 15px 20px;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    border-top: 1px solid #e9e9e9;
}

.table-responsive {
    border:none !important;
    margin-bottom: 0 !important;
}

.mc-items {
    overflow-y: initial;
}
.mc-items .block-content {
    height: 400px;
    overflow-y: auto;
}
.mc-items a img,
#sunucu_icon img {
    width: 18px;
}

/* Consol */
.bbdt {
  background: #000;
}
.console {
  font-family: "Andale Mono", AndaleMono, monospace;
  font-size: 14px;
  background: #000;
  color: #00fa00;
  border-color: #000;
}
.console-date {
  color: #93a1a1;
}
.console-danger {
  color: #FF0000;
}
.consol-yellow {
  color: #E3E300;
}
.console-user {
  color: #2aa198;
}
.bck {
  border-radius: 0;
}

/* GKod */
.gkod input {
  width: 40px;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  display: inline;
}

.gkod .cizgi {
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Ayarlar */
.vertical-menu {
  padding: 0;
}

.vertical-menu a {
  background-color: #F9F9F9;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  border-bottom: 1px solid #e9e9e9;
}
.vertical-menu a:last-child {
  border-bottom: 0;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #fff;
  color: black;
}
@media (min-width: 768px) {
  .ayar_menu {
    padding-right: 0px;
  }
  .ayar_icerik {
    padding-left: 0px;
  }
}